@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
  background: rgba( 192, 176, 176, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
/* border-radius: 10px; */
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.glass-ad{
  background: rgba( 192, 176, 176, 0 );
box-shadow: 0 8px 32px 0 rgba(123, 125, 152, 0.37);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
html {
  scroll-behavior: smooth;
}